@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --Manrope: "Manrope", sans-serif;
  --bgColor: #f4f4f4;
  --black1: #494949;
  --black2: #212121;
  --tiyaGreen: #abef5f;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tiyaGreen);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7fad49;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
div,
img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
}
